<component name="ArtifactManager">
  <artifact type="war" name="springcase-netctoss:war">
    <output-path>$PROJECT_DIR$/../../day04_all/springcase-netctoss/out/artifacts/springcase_netctoss_war</output-path>
    <root id="archive" name="springcase-netctoss_war.war">
      <element id="artifact" artifact-name="springcase-netctoss:war exploded" />
    </root>
  </artifact>
</component>